.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-container {
  background-color: #333333;
  height: 50vh;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
@media screen and (max-width: 576px) {
  .card-container {
    height: 25vh;

    padding: 0px;
  }
}

.image-card {
  width: 250px;
  height: 200px;
}
@media screen and (max-width: 576px) {
  .image-card {
    width: 110px;
    height: 160px;

    border-radius: 94% 6% 100% 0% / 0% 25% 75% 100%;
  }
}

.foodItem-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-details {
  padding: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.card-heading {
  font-size: 20px;
}
@media screen and (max-width: 576px) {
  .card-heading {
    font-size: 12px;
  }
}
.card-subHeading {
  font-size: 10px;
}
.card-rating {
  display: flex;
}

.rating {
}
