.not-found-img {
  width: 100px;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.button-style {
  color: white;
  background-color: orange;
  border: 0px;
  border-radius: 5px;
  width: 100px;

  height: 30px;
}
.backGround-container {
  background-color: #f9fbfe;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}
.rule {
  border: 1px solid black;
  width: 80vw;
}
.item-cardMenu {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.price_cardMenu {
  font-size: 10px;
  margin: 40px;
}
.item_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.total-card {
  display: flex;
  justify-content: center;
}

.img-card {
  width: 40px;
  height: 40px;
  margin-right: 2px;
}
.confirm-card {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.confirm-order {
  text-align: center;
  background-color: #f7931e;
  color: white;
  height: 28px;
  width: 150px;
  border: 0px;
  border-radius: 5px;
}
.quantityCard {
  margin: 40px;
  text-align: center;

  font-size: 10px;
}
