.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .products-list {
    justify-content: flex-start;
    align-items: center;
  }
}
.products-loader-container {
  text-align: center;
  margin-top: 40px;
}
.pagination-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-button {
  border: 0px;
  background-color: white;
}
