.dish-container {
  display: flex;
  min-width: 300px;
  max-width: 340px;

  margin: 10px;
}
.dish-img {
  width: 160px;
  height: 130px;
  border-radius: 5px;
}
.foodName-card {
  font-size: 12px;
  font-weight: bold;
}
.food-rating {
  font-size: 9px;
  margin-left: 8px;
}
.button-el {
  background-color: white;
  color: #ffa412;
  border: 1px solid #ffa412;
  border-radius: 5px;
  margin-top: 3px;
}
.color {
  color: #ffcc00;
  height: 10px;
}

.cost-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.counter-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.count-item {
  margin: 2px;
}

.count-inc {
  width: 15px;
  height: 15px;
  font-size: 9px;
}
