.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-website-logo-mobile-image {
  width: 50vw;
}
@media screen and (max-width: 576px) {
  .login-website-logo-mobile-image {
    display: none;
  }
  .login-website-logo-desktop-image {
    display: none;
  }
  .font-color {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  .kitchen-mobile-image {
    display: none;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
.input-container {
  width: 200px;
  margin: 10px;
}

.font-color {
  color: #f7931e;
  font-style: italic;
  size: 24px;
}

.input-label {
  font-size: 15px;
  margin-top: 2px;
}
.username-input-field {
  height: 30px;
  width: 200px;
  background-color: #e2e8f0;
}
.login-button {
  background-color: #f7931e;
  width: 200px;
  border-color: blue;
  height: 25px;
  color: white;
}
