.products-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sort-by-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sort-by {
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
.sub-heading {
  font-size: 15px;
}
.products-list-heading {
  font-size: 25px;
}
