.bg-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  color: white;
  padding: 10px;
  width: 100vw;
}
.col {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.Footer-Contact {
  text-align: center;
  font-size: 17px;
  width: 370px;
}
.tastyHeading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-cont {
  display: flex;
  font-size: 30px;
  margin-bottom: 10px;
}

.icons-style {
  margin: 5px;
}
